<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <appSettings>
    <add key="Aws.Region" value="eu-west-1" />
    <add key="Aws.ProfileName" value="TinamousDev" />
    <add key="Aws.DynamoDb.TablePrefix" value="Debug-" />
    <add key="Aws.S3.ProcessedImagesBucket" value="tinamous-dev-images-eu" />
    <add key="Aws.S3.MediaUploadBucket" value="tinamous-debug-media-upload-2" />
    <!-- Octopus Deploy -->
    <add key="Octopus.Machine.Name" value="Debug" />
    <add key="Octopus.Environment.Name" value="Debug" />
    <add key="Octopus.Release.Number" value="" />
  </appSettings>
  <connectionStrings>
    <!-- Increased timeouts as sending lots of Media over the wire -->
    <add name="RabbitMQConnectionString" connectionString="host=localhost;product=Media;platform=Tinamous;timeout=60" />
  </connectionStrings>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=ToString,StackTrace}${newline}" />
      <target name="file2" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}.Trace.txt" layout="${longdate}|${message}" />
      <target name="errorFile" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}-Error.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=ToString,StackTrace}${newline}" />
      <target name="traceFile" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}-Trace.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
      <target name="console" type="Console" layout="${longdate}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="errorFile" />
      <logger name="*" level="Trace" writeTo="traceFile" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <exceptionless apiKey="API_KEY_HERE" />
</configuration>