<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <appSettings>
    <!-- Use this in production  -->
    <add key="Aws.Region" value="us-east-1" />
    <add key="Aws.ProfileName" value="" />
    <add key="Aws.S3.ProcessedImagesBucket" value="" />
    <add key="Aws.S3.MediaUploadBucket" value="" />
    <add key="Aws.DynamoDb.TablePrefix" value="" />
    <!-- Octopus Deploy -->
    <add key="Octopus.Machine.Name" value="" />
    <add key="Octopus.Environment.Name" value="" />
    <add key="Octopus.Release.Number" value="" />
  </appSettings>
  <connectionStrings>
    <!-- Increased timeouts as sending lots of Media over the wire -->
    <add name="RabbitMQConnectionString" connectionString="" />
  </connectionStrings>
  <nlog>
    <targets async="true">
      <target name="file" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception}" />
      <target name="warnFile" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}-Warn.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=ToString,StackTrace}${newline}" />
      <target name="errorFile" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}-Error.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=ToString,StackTrace}${newline}" />
      <target name="traceFile" type="File" fileName="L:/LogFiles/Tinamous.Media/${shortdate}-Trace.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" level="Warn" writeTo="warnFile" />
      <logger name="*" minlevel="Error" writeTo="errorFile" />
      <logger name="*" level="Trace" writeTo="traceFile" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <exceptionless apiKey="#{ExceptionlessKey}" includePrivateInformation="false" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>