<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Aws.Region" value="eu-west-1" />
    <add key="Aws.ProfileName" value="TinamousDev" />
    <add key="Aws.DynamoDb.TablePrefix" value="Test-" />
    <add key="Aws.S3.ProcessedImagesBucket" value="tinamous-dev-images-eu" />
    <add key="Aws.S3.MediaUploadBucket" value="tinamous-debug-media-upload-2-{0}-{1}-{2}" />
    <!-- Octopus Deploy -->
    <add key="Octopus.Machine.Name" value="Test" />
    <add key="Octopus.Environment.Name" value="TestEnv" />
    <add key="Octopus.Release.Number" value="0.1" />
  </appSettings>
</configuration>